.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding: 16px 20px;
}

.headerLeftMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.constrCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logoBurger {
  width: 22px;
  height: 22px;
}

.constrButt {
  color: #f2f2f3;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.orderCont {
  composes: constrCont;
  order: 1;
  color: #8585ad;
}

.logoOrder {
  composes: logoBurger;
}

.orderButt {
  composes: constrButt;
  font-size: 15px;
  color: #8585ad;
}

.headerCentralLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.headerRightMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logoProfile {
  width: 18px;
  height: 22px;
}

.profileButt {
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #8585ad;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");
