.BurgerConstructor {
  width: 600px;
  background: #131316;
  padding-top: 100px;
}

.TopConstructor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.MiddleConstr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.BurgerPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 40px;
}
